body {
  --bs-body-font-family: monospace;
}

.btn-primary {
  background-color: blue;
  border-color: blue;
}

.carousel .slide-container img {
  display: block;
  margin: auto;
  width: 30%;
}

.three-carousel .slide-container {
  display: flex;
  justify-content: space-around;
}

.three-carousel .slide-container img {
  width: 25%;
}


.navbar-light .navbar-nav .nav-link.clock {
  color: red;
}
